<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glfw" version="3.3.1" targetFramework="native" />
  <package id="glm" version="0.9.9.700" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>